/*START TOPNAV STYLE*/
.topnav{
	background-color: #fff;
	width: 100%;
	padding: 15px 0;
	position: fixed;
	z-index: 1;
}
.logo-responsive{
	display: flex;
	align-items: center;
}
.logo-responsive img{
	height: 30px;
}
.navbar{
	width: 100%;
	font-family: Poppins-Regular;
	display: flex;
	justify-content: flex-end;
}
.navbar ul{
	list-style: none;
}
.navbar li{
	display: inline-block;
}
.navbar a{
	text-decoration: none;
	color: #007bff;
	font-size: 18px;
	padding: 0 15px;
}
.navbar a:hover{
	color: #ff6e00;
}
.navbar .active{
	background-color: #4bae4f;
	padding: 10px;
	color: #fff;
	border-radius: 2px;
}
.navbar .active:hover{
	color: #eee;
	background-color: #3DBD41;
}

@media screen and (max-width: 768px){
	.topnav{
		position: relative;
	}
	.logo-responsive{
		width: 100%;
		background-color: #fff;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.navbar{
		display: block;
		background-color: #43baff;
	}
	.navbar li{
		width: 100%;
		padding: 15px;
	}
	.navbar li a{
		width: 100%;
		padding: 15px;
		color: #fff;
	}
	.navbar li:hover{
		background-color: #007bff;
	}
}
/*END TOPNAV STYLE*/

/* START SECTION */

.carousel{
	font-family: Roboto-Regular;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.img-carousel{
	width: 100%;
	height: 700px;
}
.img-carousel img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header-carousel{
	position: absolute;
	background-color: rgba(0,0,0,.2);
	border-radius: 2px;
	width: 100%;
	margin-top: 30px;
	height: 635px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.header-carousel h2{
	margin-left: 45px;
	font-size: 60px;
	color: #fff;
}
.header-carousel h4{
	margin-left: 45px;
	color: #fff;
}

@media screen and (max-width: 576px){
	.header-carousel{
		margin-top: 0;
		height: auto;
	}
}
@media screen and (max-width: 990px){
	.header-carousel{
		margin-top: 0;
		height: auto;
	}
}

/*START HOME STYLE*/

.carousel-img{
	width: 100%;
	height: 70vh;
}
.carousel-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.panel-home-search{
	padding: 20px 400px;
	background-color: #f5f5f5;
}
.search-box{
	padding: 20px;
	background-color: #fff;
	width: 100%;
}
.search-box h3{
	font-size: 20px;
	color: #007bff;
}
.search-box input{
	margin-top: 15px;
	padding: 15px;
	width: 80%;
	height: 50px;
	outline: none;
	font-family: Roboto-Light;
	font-size: 16px;
}
.search-box input:focus{
	border: 1px solid #ff6300;
}
.search-box .search-btn{
	width: 19%;
	border-style: none;
	color: #fff;
	background-color: #ff6e00;
	font-family: Roboto-Regular;
	font-size: 16px;
	border-radius: 2px;
}
.search-box .search-btn:hover{
	background-color: #f56a00;
}
.search-box .popular-search-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 15px;
}
.popular-search-box .header{
	margin: 5px;
}
.popular-search-box .content{
	margin: 25px 0;
}
.popular-search-box .content a{
	text-decoration: none;
	font-size: 18px;
	color: #333;
	padding: 10px 15px;
	border: 1px solid #333;
	transition: .4s all;
}
.popular-search-box .content a:hover{
	background-color: #007bff;
	color: #fff;
	font-weight: bold;
	border: none;
}


.panel-home-support{
	padding: 50px 200px;
	background-color: #fff;
}
.panel-home-support .header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.panel-home-support .content{
	margin-top: 20px;
}
.content .logo-support{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-support img{
	width: 80%;
	height: 80%;
}

.footer{
	padding: 50px 200px;
	border-top: 1px solid #ccc;
}
.card-about{
	width: 100%;
	padding: 15px;
}
.card-about .logo-card{
	width: 100%;
	height: 100%;
}
.logo-card img{
	width: 50%;
	height: 50%;
}
.card-about .content-card{
	font-family: Poppins-Regular;
	margin-top: 15px;
	color: #333;
}
.cards{
	width: 100%;
	padding: 15px;
}
.cards .header h4{
	color: #333;
	font-size: 20px;
}
.cards .content{
	margin-top: 25px;
}
.cards .content .action{
	margin-top: 15px;
}
.cards .content .action a{
	font-size: 16px;
	color: #333;
	text-decoration: none;
	margin-top: 5px;
}
.cards .content .action a:hover{
	color: #ff6e00;
}
.cards .content i{
	color: #333;
	font-size: 40px;
}
.copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	padding: 15px;
	color: #fff;
}

@media screen and (max-width: 768px){
	.panel-home-search{
		padding: 15px;
	}
	.popular-search-box .content{
		display: flex;
		flex-wrap: nowrap;
	}
	.content .acition a{
		margin-left: 5px;
	}
	.panel-home-support{
		padding: 15px;
	}
	.logo-support img{
		width: 50%;
		height: 50%;
	}
	.footer{
		padding: 15px;
	}
	.cards{
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.cards.social{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 1200px){
	.panel-home-search{
		padding: 15px;
	}
	.popular-search-box .content{
		display: flex;
		flex-wrap: nowrap;
	}
	.content .acition a{
		margin-left: 5px;
	}
	.panel-home-support{
		padding: 15px;
	}
	.logo-support img{
		width: 50%;
		height: 50%;
	}
	.footer{
		padding: 15px;
	}
	.cards{
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.cards.social{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/*END HOME STLYE */